{% extends "base.html" %}

{% block head %}
    
{% end %}

{% block body %}
<div class="values">
    <h1><a href="/tag/{{ stock['name'] }}">{{ escape(stock['name']) }}</a></h1>
    <div class="body">
    <h2>Daily values</h2>
    <div id="graphdiv"></div>
    <script type="text/javascript">
        g = new Dygraph(
      
          // containing div
          document.getElementById("graphdiv"),
      
          // CSV or path to a CSV file.
          "Date,Stock Value\n" +
            {% for day_values in values['daily'] %}
                "{{ day_values[0] }},{{ day_values[1] }}\n" +
            {% end %}
            ""
        );
    </script>
    {% for day_values in sentiment['daily'] %}
        time: {{ day_values['time'] }},
        positive : {{ day_values['positive'] }},
        negative: {{ day_values['negative'] }},
        neutral: {{ day_values['neutral'] }},
        none: {{ day_values['none'] }}
    {% end %}
  </div>
</div>
{% end %}